<div id="mapBody">

  <div id="map"></div>

</div>

<script type="text/javascript">


function initMap() {
  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 1.350452, lng:103.820581},
    mapTypeId: 'roadmap'
  });

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentArray = [
  //
        '<div class="map-info-window">'+
        '<h1>My Info Window</h1>'+
        '<p>Circle 1</p>'+
        '</div>',
   //
        '<div class="map-info-window">'+
        '<h1>My Info Window</h1>'+
        '<p>Circle 2</p>'+
        '</div>',
  //
        '<div class="map-info-window">'+
        '<h1>My Info Window</h1>'+
        '<p>Circle 3</p>'+
        '</div>',
  //
        '<div class="map-info-window">'+
        '<h1>My Info Window</h1>'+
        '<p>Circle 4</p>'+
        '</div>',
  //
        '<div class="map-info-window">'+
        '<h1>My Info Window</h1>'+
        '<p>Circle 5</p>'+
        '</div>',
        ];

  // Draw Circles

  function getColor(d) {
    console.log(d);
    return d > 1000 ? '#FF0000' :
           d > 800  ? '#FF3300' :
           d > 600  ? '#FF6600' :
           d > 400  ? '#FF9900' :
           d > 200  ? '#FFCC00' :
           d > 100  ? '#FFFF00' :
           d > 80   ? '#CCFF00' :
           d > 60   ? '#99FF00' :
           d > 40   ? '#66FF00' :
           d > 20   ? '#33FF00' :
                      '#00FF00';

}

  <% @areas.each_with_index do |areaCircle, index| %>


    <% crowdlevel = areaCircle.crowd_levels.where(hour: 6,day: "Friday") %>
    <% density = (crowdlevel.first).crowd_density %>
    console.log(<%= density %>);

     var coordinates = {lat: <%= areaCircle.lat %>,lng: <%= areaCircle.lng %>};

     // var crowdDensityCircle = new google.maps.Circle({
     //      strokeColor: '#FF0000',
     //      strokeOpacity: 0.8,
     //      strokeWeight: 3,
     //      fillColor: '#FF0000',
     //      fillOpacity: 0.35,
     //      map: map,
     //      center: coordinates,
     //      radius: Math.random()*5000
     //  });
        var existingCrowdDensityCircle = {
            path: google.maps.SymbolPath.CIRCLE,
            strokeColor: getColor(<%= density %>),
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: getColor(<%= density %>),
            fillOpacity: 0.35,
            // adjust scale
            scale: 20
        };

        var newCrowdDensityCircle_<%=index%> = new google.maps.Marker({
        icon: existingCrowdDensityCircle,
        position: coordinates
        });

        var contentString = contentArray[<%= index %>];

        var infowindow_<%= index %> = new google.maps.InfoWindow({
          content: contentString
        });

        newCrowdDensityCircle_<%=index%>.setMap(map);

        newCrowdDensityCircle_<%=index%>.addListener('click', function() {
          infowindow_<%= index %>.open(map, newCrowdDensityCircle_<%=index%>);
        });

        <% end %>

        // creating search_place marker clusters as below
    var markers = [];
      <% if @search_place != nil %>
        var infowindow_of_each_marker = new Array(<%=@search_place.count%>)
        <% @search_place.each_with_index do |search_place, index| %>

        infowindow_of_each_marker[<%=index%>] =
          '<div>Place: <%=search_place.name%> </div>' +
          '<div>Address: <%=search_place.address%></div>'


        var place_coord = {lat: <%= search_place.lat %>,lng: <%= search_place.lng %>};

        var marker = new google.maps.Marker({
                position: place_coord,
        });

        var infoWin = new google.maps.InfoWindow();

        google.maps.event.addListener(marker, 'click', function(evt) {
          infoWin.setContent(infowindow_of_each_marker[<%=index%>]);
          infoWin.open(map, marker);
        })

        markers.push(marker);
            
        <% end %>
      <% end %>

    var options = {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    };

    var markerCluster = new MarkerClusterer(map, markers, options);
}
</script>

<!-- make the wordings of infowindow visible -->
<style>
div{
  color: black;
}
</style>

<!-- this is for sizing the infowindow as below -->
<style>
.gm-style-iw {
  width: 100px;
  height: 100px;
}
</style>

<!-- this is needed for the markercluster -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&callback=initMap&language=en&region=SG">
    </script>
