<div id="mapBody">

  <div id="map"></div>

</div>

<script type="text/javascript">

function initMap() {
  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 1.350452, lng:103.820581},
    mapTypeId: 'roadmap'
  });

  var bounds = new google.maps.LatLngBounds();

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  // scaleSize = {"place" => 10,"district" => 50, "area"=> 200}

  function getColor(d) {
    console.log(d);
    return d > 100 ? '#FF0000' :
           d > 90  ? '#FF3300' :
           d > 80  ? '#FF6600' :
           d > 70  ? '#FF9900' :
           d > 60  ? '#FFCC00' :
           d > 50   ? '#FFFF00' :
           d > 40   ? '#CCFF00' :
           d > 30   ? '#99FF00' :
           d > 20   ? '#66FF00' :
           d > 10   ? '#33FF00' :
                      '#00FF00';
  }

 // Draw Circles

    // creating search_places marker clusters as below
    var markers = [];
    <% if @search_places != nil %>

        var infowindow_of_each_marker = new Array(<%=@search_places.count%>);
        <% @search_places.each_with_index do |place_result, index| %>


          // populating infowindow

          <% mostcr_str = "" %>
          <% most_crowded_times = place_result.most_crowded %>
          <% most_crowded_times.each do |h| %>
            <% mostcr_str += h[:hour].to_s + ":00 on " + h[:day] %>
            <% mostcr_str += ", " if most_crowded_times.count > 1 %>
          <% end %>

          // repeat above for least crowded
          <% leastcr_str = "" %>
          <% least_crowded_times = place_result.least_crowded.reverse %>
          <% least_crowded_times.each_with_index do |h, index| %>
            <% leastcr_str += h[:hour].to_s + ":00 on " + h[:day] %>
            <% break if index > 1 %>
            <% leastcr_str += ", " if least_crowded_times.count > 1 %>
          <% end %>

          infowindow_of_each_marker[<%=index%>] =

          '<li class="map-marker map-marker-<%= index %>">' +
             '<div class="map-marker-info">' +
               '<div class="map-marker-info-inner animate-bounce-in">' +
                   '<div><h2 style="color:black;">Place: <%=place_result.name%></h2> </div>' +
                 '<main>' +
                   '<p style="color:black;">' +
                     '<div><b>Address:</b> <%=place_result.address%></div>' +
                      // Area
                      // District
                      '<div><b>Most Crowded Times:</b> <%= mostcr_str %> </div>' +
                      // leastcrowded
                      '<div><b>Least Crowded Times:</b> <%= leastcr_str %> </div>' +
                   '</p>' +
                 '</main>' +
               '</div>' +

        // populating infowindow

        <% mostcr_str = "" %>
        <% most_crowded_times = place_result.most_crowded %>
        <% most_crowded_times.each do |h| %>
          <% mostcr_str += h[:hour].to_s + ":00 on " + h[:day] %>
          <% mostcr_str += ", " if most_crowded_times.count > 1 %>
        <% end %>

        // repeat above for least crowded
        <% leastcr_str = "" %>
        <% least_crowded_times = place_result.least_crowded.reverse %>
        <% least_crowded_times.each_with_index do |h, index| %>
          <% leastcr_str += h[:hour].to_s + ":00 on " + h[:day] %>
          <% break if index > 1 %>
          <% leastcr_str += ", " if least_crowded_times.count > 1 %>
        <% end %>

        infowindow_of_each_marker[<%=index%>] =

        '<li class="map-marker map-marker-<%= index %>">' +
           '<div class="map-marker-info">' +
             '<div class="map-marker-info-inner animate-bounce-in">' +
                 '<div><h2 style="color:black;">Place: <%=place_result.name%></h2> </div>' +
               '<main>' +
                 '<p style="color:black;">' +
                   '<div><b>Address:</b> <%=place_result.address%></div>' +
                   '<div><b>Area:</b> <%= place_result.district.area.name %></div>' +
                   '<div><b>District:</b> <%= place_result.district.name %></div>' +                  
                    '<div><b>Most Crowded Times:</b> <%= mostcr_str %> </div>' +
                    '<div><b>Least Crowded Times:</b> <%= leastcr_str %> </div>' +
                 '</p>' + 
               '</main>' +

             '</div>' +
           '</li>';

          var place_coord = {lat: <%= place_result.lat %>,lng: <%= place_result.lng %>};

          // Filter crowd level to show by datetime
          <% @datetime_value = DateTime.now if @datetime_value == ""  %>
          <% @datetime_value = @datetime_value.to_datetime %>

          <% hour = @datetime_value.strftime("%H") %>
          <% day = @datetime_value.strftime("%A") %>
          <% @crowdlevel_show = place_result.crowd_levels.where(hour: hour, day: day) %>

          var marker = new google.maps.Marker({
              position: place_coord,
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
              strokeColor: getColor(<%= @crowdlevel_show.first.crowd_density %>),
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: getColor(<%= @crowdlevel_show.first.crowd_density %>),
              fillOpacity: 0.35,
              scale: 20
                          }

          });
          var infoWin = new google.maps.InfoWindow();

          var placeLatLng = new google.maps.LatLng(place_coord);
          bounds.extend(placeLatLng);

          google.maps.event.addListener(marker, 'click', function(evt) {
            infoWin.close;
            infoWin.setContent(infowindow_of_each_marker[<%=index%>]);
            infoWin.open(map, this);
          })

          markers.push(marker);
        <% end %>

    <% else %>
      var placeLatLng = new google.maps.LatLng({lat: 1.350452, lng:103.820581})
      bounds.extend(placeLatLng);
      map.setZoomLevel(12);
    <% end %>

    map.fitBounds(bounds);

    var options = {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    };

    var markerCluster = new MarkerClusterer(map, markers, options);
}
</script>

  <!-- make the wordings of infowindow visible -->
<style>
div{
  color: black;
}
</style>

<!-- this is for sizing the infowindow as below -->
<style>
.gm-style-iw {
  width: 100px;
  min-height: 100px;
  padding-top:15px;
}
</style>

<!-- this is needed for the markercluster -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&callback=initMap&language=en&region=SG">
  </script>


</div>
