<div id="mapBody">

  <div id="map"></div>

</div>

<script type="text/javascript">


function initMap() {
  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 1.350452, lng:103.820581},
    mapTypeId: 'roadmap'
  });

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  // scaleSize = {"place" => 10,"district" => 50, "area"=> 200}

  function getColor(d) {
    console.log(d);
    return d > 1000 ? '#FF0000' :
           d > 800  ? '#FF3300' :
           d > 600  ? '#FF6600' :
           d > 400  ? '#FF9900' :
           d > 200  ? '#FFCC00' :
           d > 100  ? '#FFFF00' :
           d > 80   ? '#CCFF00' :
           d > 60   ? '#99FF00' :
           d > 40   ? '#66FF00' :
           d > 20   ? '#33FF00' :
                      '#00FF00';

}

 // Draw Circles

        // creating search_places marker clusters as below
    var markers = [];
      <% if @search_places != nil %>
        var infowindow_of_each_marker = new Array(<%=@search_places.count%>);
        <% @search_places.each_with_index do |place_result, index| %>


        // populating infowindow

        <% mostcr_str = "" %>
        <% most_crowded_times = place_result.most_crowded %>
        <% most_crowded_times.each do |h| %>
          <% mostcr_str += h[:hour].to_s + ":00 on " + h[:day] %>
          <% mostcr_str += ", <br/> " if most_crowded_times.count > 1 %>
        <% end %>

        // repeat above for least crowded

        infowindow_of_each_marker[<%=index%>] =
          '<div>Place: <%=place_result.name%> </div>' +
          '<div>Address: <%=place_result.address%></div>' +
          // Area
          // District
          '<div>Most Crowded Times: <%= mostcr_str %> </div>';
          // leastcrowded


        var place_coord = {lat: <%= place_result.lat %>,lng: <%= place_result.lng %>};

        var marker = new google.maps.Marker({
            position: place_coord,
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
            strokeColor: getColor(<%= place_result.crowd_levels.last.crowd_density %>),
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: getColor(<%= place_result.crowd_levels.last.crowd_density %>),
            fillOpacity: 0.35,
            scale: 20
                        }

        });

        google.maps.event.addListener(marker, 'click', function(evt) {
          var infowindow = new google.maps.InfoWindow({                
            map: map,
            position: place_coord,                                
            content: infowindow_of_each_marker[<%=index%>]
          })
          infowindow.open(map, this);         
        })

        markers.push(marker);
            
        <% end %>
      <% end %>

    var options = {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    };

    var markerCluster = new MarkerClusterer(map, markers, options);
}
</script>

<!-- make the wordings of infowindow visible -->
<style>
div{
  color: black;
}
</style>

<!-- this is for sizing the infowindow as below -->
<style>
.gm-style-iw {
  width: 100px;
  height: 100px;
}
</style>

<!-- this is needed for the markercluster -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&callback=initMap&language=en&region=SG">
    </script>
