<div id="mapBody">

  <div id="map">



  </div>

  <!-- <div id="legend"><h3>Legend</h3></div> -->

  <div class='my-legend'>
<div class='legend-title'>Legend</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:#FF0000;'></span> > 100% </li>
    <li><span style='background:#FF3300;'></span> > 90% </li>
    <li><span style='background:#FF6600;'></span> > 80% </li>
    <li><span style='background:#FF9900;'></span> > 70% </li>
    <li><span style='background:#FFCC00;'></span> > 60% </li>
    <li><span style='background:#FFFF00;'></span> > 50% </li>
    <li><span style='background:#CCFF00;'></span> > 40% </li>
    <li><span style='background:#99FF00;'></span> > 30% </li>
    <li><span style='background:#66FF00;'></span> > 20% </li>
    <li><span style='background:#33FF00;'></span> > 10% </li>
    <li><span style='background:#00FF00;'></span> > 0% </li>

  </ul>
</div>
</div>
</div>



<script type="text/javascript">


function initMap() {
  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 1.350452, lng:103.820581},
    mapTypeId: 'roadmap'
  });

  var bounds = new google.maps.LatLngBounds();

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  // scaleSize = {"place" => 10,"district" => 50, "area"=> 200}

  function getColor(d) {
    return d > 100 ? '#FF0000' :
           d > 90  ? '#FF3300' :
           d > 80  ? '#FF6600' :
           d > 70  ? '#FF9900' :
           d > 60  ? '#FFCC00' :
           d > 50   ? '#FFFF00' :
           d > 40   ? '#CCFF00' :
           d > 30   ? '#99FF00' :
           d > 20   ? '#66FF00' :
           d > 10   ? '#33FF00' :
                      '#00FF00';
  }


 // Draw Circles

    // creating search_places marker clusters as below
    var markers = [];

    <% if @search_places != nil %>

        var infowindow_of_each_marker = new Array(<%=@search_places.count%>);
        <% @search_places.each_with_index do |place_result, index| %>

        // populating infowindow

        <% mostcr_str = "" %>
        <% most_crowded_times = place_result.most_crowded %>
        <% most_crowded_times.each do |h| %>

          <% converted_hour = QueryService.hour_24_to_12(h[:hour]) %>
          <% mostcr_str += converted_hour + " on " + h[:day] %>
          <% mostcr_str += ", " if most_crowded_times.count > 1 %>
        <% end %>

        // repeat above for least crowded
        <% leastcr_str = "" %>
        <% least_crowded_times = place_result.least_crowded.reverse %>
        <% least_crowded_times.each_with_index do |h, index| %>
          <% converted_hour = QueryService.hour_24_to_12(h[:hour]) %>
          <% leastcr_str += converted_hour + " on " + h[:day] %>
          <% break if index > 1 %>
          <% leastcr_str += ", " if (least_crowded_times.count == 2 && index==0) || (least_crowded_times.count > 2) %>
        <% end %>

        infowindow_of_each_marker[<%=index%>] =

        '<li class="map-marker map-marker-<%= index %>">' +
           '<div class="map-marker-info">' +
             '<div class="map-marker-info-inner animate-bounce-in">' +
                 '<div><h2 style="color:black;">Place: <%=place_result.name%></h2> </div>' +
               '<main>' +
                 '<p style="color:black;">' +
                   '<div><b>Address:</b> <%=place_result.address%></div>' +
                   '<div style="text-transform:capitalize;"><b>Area:</b> <%= place_result.district.area.name %></div>' +
                   '<div><b>District:</b> <%= place_result.district.name %></div>' +
                    '<div><b>Most Crowded Times:</b> <%= mostcr_str %> </div>' +
                    '<div><b>Least Crowded Times:</b> <%= leastcr_str %> </div>' +
                 '</p>' +
               '</main>' +
             '</div>' +
           '</li>';


          var place_coord = {lat: <%= place_result.lat %>,lng: <%= place_result.lng %>};

          // Filter crowd level to show by datetime
          <% @crowdlevel_show = place_result.crowd_levels.where(hour: @hour, day: @day) %>

          var marker = new google.maps.Marker({
              position: place_coord,
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
              strokeColor: getColor(<%= @crowdlevel_show.first.crowd_density %>),
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: getColor(<%= @crowdlevel_show.first.crowd_density %>),
              fillOpacity: 0.35,
              scale: 20
                          }

          });
          var infoWin = new google.maps.InfoWindow();

          var placeLatLng = new google.maps.LatLng(place_coord);
          bounds.extend(placeLatLng);

          google.maps.event.addListener(marker, 'click', function(evt) {
            infoWin.close;
            infoWin.setContent(infowindow_of_each_marker[<%=index%>]);
            infoWin.open(map, this);
          })

          markers.push(marker);
        <% end %>

    <% else %>

      var placeLatLng = new google.maps.LatLng({lat: 1.350452, lng:103.820581});
      map.setCenter(placeLatLng);
      map.setZoom(12);

    <% end %>

    (markers.length != 0) ? map.fitBounds(bounds) : '' ;

    var options = {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    };

    var markerCluster = new MarkerClusterer(map, markers, options);


    // function showNearbyRestaurants(){
    // change mouse icon to marker

      // google.maps.event.addListener(map, 'click', function(event) {
      //   alert(event.latLng.lat() + ", " + event.latLng.lng());
      //   placeMarker(event.latLng);
      // });

      // function placeMarker(location) {
      //   var marker = new google.maps.Marker({
      //       position: location,
      //       map: map
      //   });

      //   map.setCenter(location);
      // }

    // };

    // Enter key > Submit Button
    document.addEventListener("keyup", event => {
      if(event.key !== "Enter") return; // Use `.key` instead.
      document.querySelector("#submit-area-search-datetime-crowdlevel").click(); // Things you want to do.
      event.preventDefault(); // No need to `return false;`.
    });

}


</script>


<script type="text/javascript">

  $(document).ready(function(){
    setTimeout(function(){
      $('.alert-box').slideUp();
    }, 4000);
   })

</script>



<!-- this is needed for the markercluster -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&callback=initMap&language=en&region=SG">
</script>


</div>
