<!DOCTYPE html>
<html>
  <head>
    <title>Crowd App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




  </head>


  <body class="<%= controller_name %> <%= action_name %>">

    <span class="flashes"><%= notice %></span>
    <span class="flashes"><%= alert %></span>

    <%= yield %>

  </body>
</html>
